node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
# deps
node_modules/

.env
prisma/migrations
bun.lock
instructions
repomix-output.xml
REALTIME_SETUP.md
